<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ICMSApp.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.icmsapp</string>
		<key>CFBundleShortVersionString</key>
		<string>1.1</string>
		<key>CFBundleVersion</key>
		<string>2</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Hamza Gullistan (P84GLYRHS5)</string>
		<key>Team</key>
		<string>K5W9R92RTR</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-10-24T07:57:48Z</date>
	<key>Name</key>
	<string>ICMSApp</string>
	<key>SchemeName</key>
	<string>ICMSApp</string>
</dict>
</plist>
